

@mixin titleSection{
    font-family: $titleFont;
    font-size:$fontSize-title;
    font-weight: bolder;
    color: $neutral2;
}

@mixin textSection{
    font-family: $textFont;
    font-size:$fontSize-text;
    font-weight: bold;
    color:$neutral2;
}

@mixin flexPosition{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin gridPositionResponsive1{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 2fr 1fr;
    gap:1rem;
    justify-content: center;
    align-items: center;
}

@mixin backgroundNeutral1{
   background: $neutral1;
}

@mixin textIcon{
    font-family: $textFont;
    font-size: $fontSize-icon;
}