

%backgroundHome{
    background:url('../images/home/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0 50px;

}

%homeInfo{
    font-family: $titleFont;
    font-size:$fontSize-title;
    font-weight: bolder;
    color: $neutral2;
}


%backgroundNeutral2{
background: $neutral2;
}



%backgroundAbout{
    background:linear-gradient($color60, $color30);
}

