

%backgroundHome{
    background:url('../images/home/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}




%backgroundNeutral2{
background: $neutral2;
}



%backgroundAbout{
    background:linear-gradient($color60, $color30);
}

