@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Saira&display=swap');

$color60: #1C72A9;
$color30: #DC446E;
$color10: #7D4C90;
$neutral1: #0B0B0B;
$neutral2: #EDF2F3;

$titleFont: "Saira";
$textFont: "Advent Pro";

$fontSize-title:40px;
$fontSize-text:20px;
$fontSize-icon:16px;




