.about{
    @include backgroundLG;
}

.aboutTitle{
    @include titleSection;

}

.aboutContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:150px;
}

.aboutImg{
width: 50%;
border-radius: 5%;
padding: 25px;
}




.aboutText1 {
    @include textSection;
    line-height: 1.5;
    padding-bottom: 15px;
}

.aboutText2 {
    @include textSection;
    line-height: 1.5;
}


.technosTitle{
    @include titleSection;
    margin: 25px;
    padding: 15px;

}

.techIconContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 150px;
    padding-bottom: 25px;
}
