@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Saira&display=swap");
.home {
  background: url("../images/home/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 0 50px;
}

.homeInfo {
  font-family: "Saira";
  font-size: 40px;
  font-weight: bolder;
  color: #EDF2F3;
}

.projets {
  background: #EDF2F3;
}

.homeInfo {
  position: absolute;
  top: 300px;
  left: 385px;
}

nav {
  position: absolute;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.menu-list {
  list-style-type: none;
  display: none;
}

.menu-list li a {
  text-decoration: none;
  font-size: 40px;
  font-family: "Advent Pro";
  font-weight: bold;
  color: #EDF2F3;
  text-align: center;
}

.webName {
  color: #EDF2F3;
  font-size: 60px;
  font-weight: bolder;
  font-family: "Saira";
}

.projectsLink {
  text-align: center;
  font-size: 28px;
  color: #0B0B0B;
  text-decoration: none;
  background: #EDF2F3;
  padding: 10px 12px;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}

.projectsLink:hover {
  color: #EDF2F3;
  background: #7D4C90;
}

.down-icon {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 0 #fff;
  animation: pulse 1.3s infinite;
}

.down-icon img {
  width: 60px;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.01);
  }
}
/*--------------- RESPONSIVE ----------*/
@media screen and (max-width: 992px) {
  .webName {
    font-size: 54px;
  }
  .homeInfo {
    font-size: 32px;
    position: absolute;
    top: 300px;
    left: 75px;
  }
  .projectsLink {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .webName {
    font-size: 48px;
  }
  .homeInfo {
    font-size: 28px;
    position: absolute;
    top: 300px;
    left: 35px;
  }
  .projectsLink {
    font-size: 16px;
  }
}
@media screen and (max-width: 520px) {
  .webName {
    font-size: 32px;
  }
  .homeInfo {
    font-size: 24px;
    position: absolute;
    top: 300px;
    left: 25px;
  }
  .projectsLink {
    font-size: 16px;
  }
}
@media screen and (max-width: 360px) {
  .webName {
    font-size: 28px;
  }
  .homeInfo {
    font-size: 24px;
    position: absolute;
    top: 350px;
    left: 25px;
  }
  .projectsLink {
    font-size: 16px;
  }
}
.stats {
  background: #0B0B0B;
  height: 300px;
}

.statsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  font-family: "Advent Pro";
  font-size: 24px;
  font-weight: bold;
  color: #EDF2F3;
  text-align: center;
}

/*--------------- RESPONSIVE ----------*/
@media screen and (max-width: 768px) {
  .statsWrapper {
    padding: 75px;
  }
  .statsWrapper {
    padding: 55px;
  }
}
@media screen and (max-width: 520px) {
  .stats {
    height: 500px;
  }
  .statsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}
.projectsTitle {
  font-family: "Saira";
  font-size: 40px;
  font-weight: bolder;
  color: #EDF2F3;
  text-align: center;
  margin: 75px;
  padding: 25px;
  color: #0B0B0B;
}

.projectsContainer {
  width: 100%;
  height: auto;
  margin: 0 auto 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  width: 500px;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

.about {
  background: linear-gradient(to bottom, #1C72A9, #7D4C90, #DC446E);
  width: 100%;
}

.aboutTitle {
  font-family: "Saira";
  font-size: 40px;
  font-weight: bolder;
  color: #EDF2F3;
  text-align: center;
  margin: 75px;
  padding: 25px;
}

.aboutContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 50px;
}

.aboutImg {
  padding-right: 15px;
}

.aboutImg img {
  border-radius: 5%;
  width: 100%;
}

.aboutText {
  font-family: "Advent Pro";
  font-size: 24px;
  font-weight: bold;
  color: #EDF2F3;
  padding-right: 25px;
}

.technosContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 50px;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
